body {
  padding: 0;
  margin: 0;
}
.theme-light .profile {
  background-color: #f6f3f3;
}
.theme-light .profile .profileButtonSubmit {
  background-color: #5271ff;
  cursor: pointer;
}
.theme-light .profile .userPosts {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.theme-light .profile .images {
  width: 100%;
  height: 300px;
  position: relative;
}
.theme-light .profile .images .cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.theme-light .profile .images .profilePic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 200px;
}
.theme-light .profile .profileContainer {
  padding: 20px 70px;
}
@media (max-width: 783px) {
  .theme-light .profile .profileContainer {
    padding: 10px;
 }
}
@media (max-width: 960px) {
  .theme-light .profile .profileContainer {
    padding: 20px;
 }
}
.theme-light .profile .profileContainer .uInfo {
  height: 230px;
  -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  border-radius: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
@media (max-width: 783px) {
  .theme-light .profile .profileContainer .uInfo {
    flex-direction: column;
    height: auto;
    padding: 20px;
    margin-top: 100px;
 }
}
.theme-light .profile .profileContainer .uInfo .left {
  flex: 1;
  display: flex;
  gap: 10px;
}
@media (max-width: 960px) {
  .theme-light .profile .profileContainer .uInfo .left {
    flex-wrap: wrap;
 }
}
.theme-light .profile .profileContainer .uInfo .editIcon {
  position: absolute;
  top: 10;
  right: 0;
  left: 50;
}
.theme-light .profile .profileContainer .uInfo .details {
  display: flex;
  flex-direction: row;
}
.theme-light .profile .profileContainer .uInfo .details .ofUser {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 15px;
}
.theme-light .profile .profileContainer .uInfo .details .ofUser .userTexts {
  font-size: 23px;
}
.theme-light .profile .profileContainer .uInfo .center {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.theme-light .profile .profileContainer .uInfo .center span {
  font-size: 30px;
  font-weight: 500;
}
.theme-light .profile .profileContainer .uInfo .center .info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.theme-light .profile .profileContainer .uInfo .center .info .item {
  display: flex;
  align-items: center;
  gap: 5px;
}
.theme-light .profile .profileContainer .uInfo .center .info .item span {
  font-size: 12px;
}
.theme-light .profile .profileContainer .uInfo .center button {
  border: none;
  background-color: #5271ff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.theme-light .profile .profileContainer .uInfo .right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.theme-dark .profile {
  background-color: #333;
}
.theme-dark .profile .profileButtonSubmit {
  background-color: #5271ff;
  cursor: pointer;
}
.theme-dark .profile .userPosts {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.theme-dark .profile .images {
  width: 100%;
  height: 300px;
  position: relative;
}
.theme-dark .profile .images .cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.theme-dark .profile .images .profilePic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 200px;
}
.theme-dark .profile .profileContainer {
  padding: 20px 70px;
}
@media (max-width: 783px) {
  .theme-dark .profile .profileContainer {
    padding: 10px;
 }
}
@media (max-width: 960px) {
  .theme-dark .profile .profileContainer {
    padding: 20px;
 }
}
.theme-dark .profile .profileContainer .uInfo {
  height: 230px;
  -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  border-radius: 20px;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
@media (max-width: 783px) {
  .theme-dark .profile .profileContainer .uInfo {
    flex-direction: column;
    height: auto;
    padding: 20px;
    margin-top: 100px;
 }
}
.theme-dark .profile .profileContainer .uInfo .left {
  flex: 1;
  display: flex;
  gap: 10px;
}
@media (max-width: 960px) {
  .theme-dark .profile .profileContainer .uInfo .left {
    flex-wrap: wrap;
 }
}
.theme-dark .profile .profileContainer .uInfo .editIcon {
  position: absolute;
  top: 10;
  right: 0;
  left: 50;
}
.theme-dark .profile .profileContainer .uInfo .details {
  display: flex;
  flex-direction: row;
}
.theme-dark .profile .profileContainer .uInfo .details .ofUser {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 15px;
}
.theme-dark .profile .profileContainer .uInfo .details .ofUser .userTexts {
  font-size: 23px;
}
.theme-dark .profile .profileContainer .uInfo .center {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.theme-dark .profile .profileContainer .uInfo .center span {
  font-size: 30px;
  font-weight: 500;
}
.theme-dark .profile .profileContainer .uInfo .center .info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.theme-dark .profile .profileContainer .uInfo .center .info .item {
  display: flex;
  align-items: center;
  gap: 5px;
}
.theme-dark .profile .profileContainer .uInfo .center .info .item span {
  font-size: 12px;
}
.theme-dark .profile .profileContainer .uInfo .center button {
  border: none;
  background-color: #5271ff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.theme-dark .profile .profileContainer .uInfo .right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
